*env/
*.ipynb_checkpoints/
*__pycache__/
*.egg-info/

.vscode/

*.~lock*
*.csv
*.db
*.DS_Store
*.env
*.flaskenv
*.ipynb
*.json
*.log
*.pdf
*.pkl
*.py~
*.swo
*.swp
*.txt
*.xlsx
*.zip

!.gitignore
!dev_notebook.ipynb
!CFARS*.pdf
!Column_Key.xlsx
!Configuration_template.xlsx
!Example/*csv
!Example/*xlsx
!UserGuide.pdf